.app-header {
  
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
}

.app-header ul.center-menu {
  list-style: none;
  display: flex;
  font-weight: 600;
}

.app-header ul.center-menu li a {
  color: rgb(121, 121, 121);
  text-decoration: none;
}

.app-header ul.center-menu li:not(:first-child) {
  margin-left: 20px;
}

.app-header ul.center-menu li.selected {
  border-bottom: 4px solid #FF6801;
}

.app-header ul.center-menu li.selected a{
  color: black;
}

.right-menu {
  display: flex;
  align-items: center;
}

.points-wrapper {
  margin-left: 20px;
}

.profile-wrapper {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.new-tracker-btn {
  background: linear-gradient(84.7deg, #2756B8 25.57%, #5082E9 101.77%);
  border-radius: 20px;
  height: fit-content;
  padding: 10px 15px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.plus-icon {
  width: 12px;
  height: 12px;
  fill: white;
  margin-left: 5px;
}

.add-tracker-modal {
  width: 400px;
  position: relative;
}

.add-tracker-modal h4 {
  margin: 0;
  color: gray;
}

.add-tracker-modal .cross-btn {
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  cursor: pointer;
  fill: gray;
}


/* Form design */

.tracker-form {
  /* padding-right: 10px;
  width: 300px; */
  /* overflow: scroll; */
}

.tracker-form .form-item {
  padding: 10px 0;
  position: relative;
}

.tracker-form .form-item label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
}

.tracker-form .form-item input {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid rgb(199, 199, 199);
  width: calc(100% - 20px); /* for input to not overflow from parent div need to subtract the padding */
}

.tracker-form .form-item select {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid rgb(199, 199, 199);
  background: none;
  width: 100%;
}
