ul.my-tracker-pills {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

ul.my-tracker-pills li {
  background: linear-gradient(87.69deg, #FF6A01 19.23%, #FF8F01 106.5%);
  padding: 12px 20px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  width: 290px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  text-align: center;
  position: relative;
}

ul.my-tracker-pills li.unselected {
  opacity: 0.5;
}

ul.my-tracker-pills li.unselected:hover {
  opacity: 1;
}

/* ul.my-tracker-pills li:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 300px;
  height: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

ul.my-tracker-pills li:hover:before {
  visibility: visible;
  opacity: 1;
} */

.tracker {
  padding: 14px 20px;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
}

.tracker-top {
  display: flex;
  align-items: center;
}

.tracker-top h4 {
  margin: 0;
  margin-left: 10px;
}

.streak-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.streak {
  /* width: 40px; */
  height: 10px;
  background: gray;
  border-radius: 10px;
  position: relative;
}

.streak .checkin, .checked {
  position: absolute;
  top: 120%;
  left: 45%;
}
